body {
    color: #000;
    font-family: sans-serif;
    box-sizing: border-box;
}

input {
    display: block;
    width: 90%;
    padding: 9px;
    margin: 12px auto;
    border: none;
    background: transparent;
    border-top: 2px solid #48e;
    outline: none;
    transition: background .3s;
    color: #fff;
}

input:hover {
    background: #26a;
}

input::placeholder {
    color: #48e;
    font-weight: 700;
    transition: color .3s;
}

input:hover::placeholder {
    color: #fff;
    transition: color .3s;
}

input:focus {
    color: #fff;
}

input[type="submit"]{
    width: 50%;
    margin-top: 18px;
    padding: 9px;
    background: #26a;
    color: #fff;
}

input[type="submit"]:hover {
    background: #048;
}

form {
    width: 86%;
    margin: auto;
    background: #015;
    padding: 30px;
}

h2 {
    color: #fff;
}

.green {
    color: #9c9;
}

.red {
    color: #c99;
}