body {
    color: #222;
    font-family: sans-serif;
}

.contenedor {
    padding: 30px;
    background: rebeccapurple;
}

.input-prueba {
    border: 1px solid #000;
    border-radius: 6px;
    padding: 6px;
    color: #444;
}